* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  /* text-align: center; */
  width: 80%;
  margin: 0 auto;
}
.header-container {
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid red;
}
.header-container > h1 {
  color: red;
  font-style: italic;
}
.event-card-conatiner {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: space-around;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}
.RSVPModal-container {
  width: 300px;
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 1rem 0rem;
}
.RSVPModal-container-card {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* margin: 1rem; */
}
.event-detail-info {
  width: 75%;
}
.event-detail-add {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.event-detail-add > :first-child {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 1.5rem;
}
.speaker-contianer {
  display: flex;
  /* width: 100px; */
  padding: 0.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: space-around;
  gap: 12px;
}
.speaker-contianer > div > img {
  border-radius: 50px;
}
.btn-rsvp {
  padding: 0.5rem 3rem;
  font-weight: 600;
  margin-top: 1rem;
  color: white;
}

.padding-bottom {
  padding-bottom: 0.85rem;
}

.Modal-wrapper {
  position: fixed !important;
  width: 100vw;
  height: 100vh;
  /* background-color: #f1f1f1; */
  backdrop-filter: blur(1px);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: 40%; */
  /* border: 1px solid red; */
}
.Modal {
  width: 50%;

  background-color: #001527;
  position: relative;
  right: 5%;
  top: 5%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.cursor {
  cursor: pointer;
}

.flex-coloumn {
  display: flex;
  flex-direction: column;
}

.btn {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  border: none;
  background-color: #f65858;
  border-radius: 5px;
}

@media (width<600px) {
  .event-detail {
    display: block;
  }
}
